<table class="table table-light">
  <thead>
    <tr>
      <th class="table-dark bg-dark">Friend Requests</th>
      <th class="table-dark bg-dark" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user.pending_friends.empty? %>
      <td>No friend requests.</td>
    <% else %>
      <% current_user.pending_friends.each do |friend| %>
        <tr>
          <td><%= link_to friend.full_name, friend %></td>
          <td><%= link_to 'Accept Friend Request', accept_friend_request_user_path(friend), method: :patch %></td>
          <td><%= link_to 'Decline Friend Request', delete_friend_user_path(friend), method: :delete %></td>
        </tr>
      <% end %>
  <% end %>
</table>

<table class="table table-light">
  <thead>
    <tr>
      <th class="table-dark bg-dark">Sent Friend Requests</th>
      <th class="table-dark bg-dark" colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% if current_user.requested_friends.empty? %>
      <td>No sent friend requests.</td>
    <% else %>
      <% current_user.requested_friends.each do |friend| %>
        <tr>
          <td><%= link_to friend.full_name, friend %></td>
          <td><%= link_to 'Cancel Friend Request', delete_friend_user_path(friend), method: :delete %></td>
          <td></td>
        </tr>
      <% end %>
  <% end %>
</table>
