<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @review.location %>
</p>

<p>
  <strong>Text:</strong>
  <%= @review.text %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
